body {
 background-color: 4d4d4d;
}

h1 { color: white;}

a { color: white;}

p { color: white;}

h1 { font-family: calibri; }

a { font-family: calibri; }

p { font-family: calibri; }

h1 {font-weight: 100}

a {font-weight: 100}

p {font-weight: 100}